<!doctype html>
<html lang="en">
    <head></head>
    <body>
        <h1>Movie Mojo Jojo Joe-Joes are like Oreos but not</h1>
        <table border = 1 cellpadding = 7>
          <tr>
            <th>Movie Title</th>
          </tr>
          {% for obj in object_list %}
          <tr>
            <td>{{obj.Title}}</td>
          </tr>
          {% endfor %}
        </table>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
 <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
 <script src="{{ url_for('static', filename='js/app.js') }}"></script>
    </body>
</html> 
